<div *ngIf="records">
  <mat-action-list #shoes>
    <button mat-list-item *ngFor="let record of records" class="record" (click)="recordDetails(record)">
      {{record.timestamp | date: 'short'}} - {{record.id}}
    </button>
</mat-action-list>
</div>
