<div class="container">
  <mat-card class="user-card" *ngIf="user">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>{{user.firstName}} {{user.secondName}}</mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="pathToImage" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis autem provident labore? Eligendi corporis numquam, incidunt quia perferendis a ratione officiis neque corrupti, saepe ipsa dolore velit cupiditate ut pariatur!
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Edit</button>
    <button mat-button>Delete</button>
  </mat-card-actions>
</mat-card>

<ngx-charts-bar-vertical class="ngx-charts"
                         [view]="view"
                         [scheme]="colorScheme"
                         [results]="single"
                         [gradient]="gradient"
                         [xAxis]="showXAxis"
                         [yAxis]="showYAxis"
                         [showXAxisLabel]="showXAxisLabel"
                         [showYAxisLabel]="showYAxisLabel"
                         [xAxisLabel]="xAxisLabel"
                         [yAxisLabel]="yAxisLabel"
                         *ngIf="single?.length > 0">
</ngx-charts-bar-vertical>
</div>
