<div class="wrapper">
  <mat-accordion class="example-headers-align">

    <mat-expansion-panel *ngFor="let event of events">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{event.name}}
        </mat-panel-title>
        <mat-panel-description>
          Location: 
          {{event.location}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="panel-content">

        <img [src]="event.image" alt="event.id" (click)="openImage()" [ngClass]="{'fullscreen': fullscreenImage}">

        <p>Description: {{event.description}}</p>

        <mat-list *ngIf="!fullscreenImage">
          <mat-list-item *ngFor="let user of event.users">
            <mat-icon mat-list-icon>person</mat-icon>
            {{user.user.firstName}} {{user.user.secondName}}
          </mat-list-item>
        </mat-list>

      </div>

      <mat-action-row *ngIf="!fullscreenImage">
        <button mat-button (click)="closeEvent()">Close Event</button>
        <button mat-button (click)="openEvent()">Open Event</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>
