.wrapper {
  width: 60%;
  margin: 0 auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.panel-content {
  display: flex;
  justify-content: space-between;
}

.panel-content img {
  width: 100px;
  height: 100px;
}

img.fullscreen {
  z-index: 999;
  width: 100% !important;
  height: 100% !important;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
