.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin: 0 auto;
}

.code-card {
  max-width: 400px;
}

.code-card mat-card-actions {
  text-align: center;
}

.image-id {
  text-align: center;
}
