<div class="cards-container">
  <mat-card class="code-card" *ngFor="let image of images">
    <mat-card-header>
      <!--<mat-card-title>{{user.firstName}} {{user.secondName}}</mat-card-title>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>-->
    </mat-card-header>
    <img mat-card-image [src]="image.image" alt="">
    <p class="image-id">{{image.id}}</p>
    <mat-card-actions>
      <button mat-button>Regenerate</button>
    </mat-card-actions>
  </mat-card>
</div>
