<div class="users-create-form">
  <mat-form-field>
    <input matInput placeholder="First Name" [formControl]="firstName" required>
    <mat-error *ngIf="firstName.invalid">{{validateFirstName()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Second Name" [formControl]="secondName" required>
    <mat-error *ngIf="secondName.invalid">{{validateSecondName()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{validateEmail()}}</mat-error>
  </mat-form-field>

  <button mat-raised-button (click)="create()">Create</button>
</div>
