<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-fab (click)="sidenav.toggle();" class="toggler" color="primary">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-fab (click)="add()" class="add" color="primary" *ngIf="shouldShowAddButton()">
            <mat-icon>add</mat-icon>
        </button>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
