<mat-nav-list>
  <a mat-list-item routerLink="/events" routerLinkActive="active-link" matTooltip="Events" matTooltipPosition="right">
    <mat-icon>event</mat-icon>
  </a>
  <a mat-list-item routerLink="/users" routerLinkActive="active-link" matTooltip="Users" matTooltipPosition="right">
    <!-- Users -->
    <mat-icon>people</mat-icon>
  </a>
  <a mat-list-item routerLink="/qrcodes" routerLinkActive="active-link" matTooltip="QR Codes" matTooltipPosition="right">
    <!-- QR Codes -->
    <mat-icon>fingerprint</mat-icon>
  </a>
  <a mat-list-item routerLink="/registry" routerLinkActive="active-link" matTooltip="Registry" matTooltipPosition="right">
    <!-- QR Codes -->
    <mat-icon>
      format_list_bulleted
    </mat-icon>
  </a>
</mat-nav-list>
