<div class="users-table" *ngIf="dataSource?.data.length > 0">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput [formControl]="filter">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell class="column-id" *matCellDef="let element" (click)="goToDetailsPage(element.id)"> {{element.id}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="First Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- Second Name Column -->
    <ng-container matColumnDef="Second Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Second Name </th>
      <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>

  <mat-paginator pageSize="10" showFirstLastButtons></mat-paginator>
</div>
