<div class="events-create-form">
  <mat-form-field>
    <input matInput placeholder="Name" [formControl]="name" required>
    <mat-error *ngIf="name.invalid">{{validateName()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Description" [formControl]="description">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Location" [formControl]="location" required>
    <mat-error *ngIf="location.invalid">{{validateLocation()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Users" [formControl]="users" multiple>
      <mat-option *ngFor="let user of usersList" [value]="user">{{user.firstName}} {{user.secondName}}</mat-option>
    </mat-select>
    <mat-error *ngIf="users.invalid">{{validateUsers()}}</mat-error>
  </mat-form-field>

  <button mat-raised-button (click)="create()">Create</button>
</div>
